<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    {% endblock %}
</head>

<body>
    <nav>
        <a href="{% url 'logout' %}">Вийти</a>
        <a href="{% url 'staff'  slug='staff' %}">Спорядження</a>
        <a href="{% url 'order'  slug='order' %}">Замовлення</a>
        <a href="">Замовники</a>
    </nav>

    <header>
        {% block header %}{% endblock %}
    </header>

    <main>
        
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Панель Адміністратора майстерні і прокату</p>
    </footer>
</body>

</html>
