{% extends 'base.html' %}
{% load static %}

{% block title %}Registration form{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<h1>Реєстрація</h1>
{% if form.errors %}
<ul class="errorlist">
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
    {% for field in form %}
    {% if field.errors %}
    <li>{{ field.label }}: {{ field.errors.0 }}</li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% if user_exists %}
<p class="error-message">Користувач з такою електронною адресою вже існує.</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="button-container">
        <input type="submit" value="Зареєструватися">
    </div>
</form>
<p>Вже маєте акаунт? <a href="{% url 'index' %}">Увійдіть</a></p>
{% endblock %}
