p {
  background-color: #f0f0f0; /* Фон контейнера */
  border: 1px solid #ccc; /* Границя контейнера */
  padding: 20px; /* Відступи внутрішнього вмісту */
  margin: 10px; /* Зовнішні відступи між контейнерами */
  border-radius: 5px; /* Закруглені кути контейнера */
}

h3 {
  color: #0074d9; /* Колір тексту назви */
  font-size: 24px; /* Розмір шрифту назви */
  font-weight: bold; /* Товщина шрифту назви */
  margin-bottom: 10px; /* Відступ між назвою і описом */
}

a {
  color: #333; /* Колір тексту опису */
  font-size: 16px; /* Розмір шрифту опису */
  line-height: 1.5; /* Міжрядковий інтервал опису */
}
